# Provider URLs + Block Explorer Keys

INFURA_PROJECT_ID=a5bc047f9fa34eeb810474cb70f4ad56
BLOCK_EXPLORER_BASE_URL=https://polygonscan.com

# Service URLs - Client-side
BASE_URL=https://staging.openq.dev
AUTH_URL=https://staging.openq.dev/oauth
ORACLE_URL=https://staging.openq.dev/oracle
OPENQ_API_URL=https://staging.openq.dev/api
COIN_API_URL=https://staging.openq.dev/coinapi
INVOICE_URL=https://staging.openq.dev/email
GITHUB_PROXY_URL=https://staging.openq.dev/githubproxy
OPENQ_SUBGRAPH_HTTP_URL=https://api.thegraph.com/subgraphs/name/openqdev/openq-staging

# Service URLs - Server-side (These are especially important for booting locally, since localhost is not accessible from the container)
OPENQ_API_SSR_URL=http://openq-api:4000
OPENQ_GITHUB_OAUTH_SERVER_SSR_URL=http://github-oauth-server:3001
GITHUB_PROXY_SSR_URL=http://github-proxy:3005

# Authentication
OPENQ_ID=6fef986c27015da76128
MAGIC_PUBLISHABLE_KEY=pk_live_0E4E045A32DB0175

# Analytics
GA_TRACKING_ID=G-D590G8FSD9
CONVERTKIT_API_KEY=<GETFROMCONVERTKIT>
# Contract Addresses
OPENQ_PROXY_ADDRESS=0xBa1027c275f28bEE2B9aD2c6820A82E5e7f5171a
DEPOSIT_MANAGER_PROXY_ADDRESS=0x57322A376aF677486312Ff555219f1C12Df857C7
CLAIM_MANAGER_PROXY_ADDRESS=0xbC79945dBd4dCaB554a8d8945dB9CC96C0F92796
