@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #f3f3f3;
  }
}

.github_markup h2{font-weight: bold;
padding-top: 16px;}

pre{
  background-color:  #58585833;
  border-radius: 1rem;
  margin-top: 2.25rem;
  overflow-x: auto;
  padding: 1rem;
}

.react-loading-skeleton::after {
  content: ' ';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width:25%;
  background-repeat: no-repeat;
  background-image: linear-gradient( 90deg, var(--base-color), #58585833, var(--base-color) );
  transform: translateX(-50%);
  animation-name: react-loading-skeleton;
  animation-direction: left;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes react-loading-skeleton { 0% { transform: translateX(-100%); } 50%{transform: translateX(400%);} 100% { transform: translateX(-100%); }  }
		
.react-loading-skeleton {
  background-color: var(--base-color);
  width: 100%;
  border-radius: 0.25rem;
  display: inline-flex;
  line-height: 1;
  position: relative;
  overflow: hidden;
}
*, ::after, ::before {
  box-sizing: border-box;
}
@layer base {
    body{
        @apply w-screen overflow-x-hidden bg-dark-mode;
    }/* 
    h1{
        @apply font-mont font-black text-4xl;
    }
    h2{
        @apply font-mont font-normal text-lg text-gray-700;
    }
}
@layer components {
    .btn {
        @apply font-mont rounded-md border-2 border-gray-300 py-2 px-3 text-base font-bold cursor-pointer;
    }*/
}

@layer components {
  .layer-button {
    @apply font-mont rounded-lg border-2 border-gray-300 py-2 px-3 text-base font-bold cursor-pointer border-blue-400 text-gray-800 hover:bg-blue-400 hover:text-white;
  }
  .confirm-btn {
    @apply font-mont rounded-lg w-full py-3 font-bold cursor-pointer text-white border border-pink-300 bg-pink-700 bg-opacity-10 hover:bg-pink-700 hover:bg-opacity-30 hover:text-white;
  }
  .sm-confirm-btn{
    @apply font-mont rounded-lg w-full py-2 font-semibold cursor-pointer text-white border border-pink-300 bg-pink-700 bg-opacity-10 hover:bg-pink-700 hover:bg-opacity-30 hover:text-white;
  }
  .sm-confirm-btn-disabled{
    @apply font-mont rounded-lg w-full py-2 font-semibold text-white text-opacity-30 border border-pink-300 bg-pink-700 bg-opacity-10;
  }
  .confirm-btn-disabled {
    @apply font-mont rounded-lg w-full py-3 font-bold text-white text-opacity-30 border border-pink-300 bg-pink-700 bg-opacity-10;
  }
	.text-link{
		@apply text-purple-500;
	}
	.navbar-icon {
		@apply shadow-lg flex items-center justify-center h-11 w-11 mb-2 mx-auto rounded-xl border border-menu
	}
}
