@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #f3f3f3;
  }
}

.markdown-body ol {
  list-style-type: auto;
}
.markdown-body ul {
  list-style-type: disc;
}
.markdown-body {
  background-color: transparent;
  color: white;
}

pre {
  background-color: #58585833;
  border-radius: 1rem;
  margin-top: 2.25rem;
  overflow-x: auto;
  padding: 1rem;
}

.react-loading-skeleton::after {
  content: ' ';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 25%;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    90deg,
    var(--base-color),
    #58585833,
    var(--base-color)
  );
  transform: translateX(-50%);
  animation-name: react-loading-skeleton;
  animation-direction: left;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

@keyframes react-loading-skeleton {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(400%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.react-loading-skeleton {
  background-color: var(--base-color);
  width: 100%;
  border-radius: 0.25rem;
  display: inline-flex;
  line-height: 1;
  position: relative;
  overflow: hidden;
}
*,
::after,
::before {
  box-sizing: border-box;
}
@layer base {
  body {
    @apply w-screen overflow-x-hidden bg-dark-mode;
  }, 
	@font-face {
		font-family: Collegiate;
		src: url(/fonts/Collegiate.ttf) format("​truetype​") or ttf;
	}
  
}

@layer components {

	/* GitHub Styles */

	.input-field {
		@apply py-[4px] px-3 text-[0.75rem] tracking-wider placeholder:text-muted outline-none rounded-sm border border-border-gray bg-input-bg focus-within:border-blue-400
	}
  .note{
    @apply text-[0.75rem] text-muted mt-0.5 leading-4
  }
	.input-field-big {
		@apply py-[5px] sm:pl-8 pl-2  pr-2 sm:pr-3 text-[0.75rem] tracking-wider leading-[20px] h-min placeholder:text-muted rounded-sm outline-none border border-border-gray bg-input-bg focus-within:border-blue-400
	}
	.nav-link{
	@apply flex text-[0.8rem] lg:mx-2 hover:text-primary text-muted font-bold hover:cursor-pointer pb-2 lg:pb-0 lg:pt-0 lg:border-none border-b border-web-gray
	}
  .btn-requirements{
		@apply bg-claim border border-claim rounded-sm px-3 py-0.5 hover:bg-blue-600 text-white
	}
  .btn-processing{
		@apply bg-[#A095EB] border border-[#A095EB] rounded-sm px-3 py-0.5 text-white
	}
	.btn-primary{
		@apply bg-green border border-green rounded-sm px-3 py-1 hover:bg-[#2ea043] text-white
	}
	.btn-default{
		@apply rounded-sm px-3 py-1 bg-[#21262d] hover:bg-[#30363d] border border-gray-700 hover:border-[#8b949e]
	}
	.btn-default-disabled{
		@apply rounded-sm px-3 py-1 bg-[#21262d] border border-gray-700 
	}
	.btn-danger{
		@apply text-[#f85149] hover:text-white rounded-sm px-3 p-1 bg-[#21262d] hover:bg-[#da3633] active:bg-[#b62324] border border-[rgba(240,246,252,0.1)] hover:border-[#f85149] active:border-[#ff7b72]
	}
	.btn-card{
		@apply bg-inactive-gray py-1 px-2 border-web-gray border rounded-sm text-xs text-primary
	}
  .layer-button {
    @apply rounded-lg border-2 border-gray-300 py-2 px-3 text-base font-bold cursor-pointer border-blue-400 text-gray-800 hover:bg-blue-400 hover:text-white;
  }
  .confirm-btn {
    @apply rounded-lg w-full py-3 font-bold cursor-pointer text-white border border-pink-300 bg-pink-700 bg-opacity-10 hover:bg-pink-700 hover:bg-opacity-30 hover:text-white cursor-pointer;
  }
  .sm-confirm-btn {
    @apply rounded-lg w-full py-2 font-semibold cursor-pointer text-white border border-pink-300 bg-pink-700 bg-opacity-10 hover:bg-pink-700 hover:bg-opacity-30 hover:text-white cursor-pointer;
  }
  .sm-confirm-btn-disabled {
    @apply rounded-lg w-full py-2 font-semibold text-white text-opacity-30 border border-pink-300 bg-pink-700 bg-opacity-10 cursor-not-allowed;
  }
  .confirm-btn-disabled {
    @apply rounded-lg w-full py-3 font-bold text-white text-opacity-30 border border-pink-300 bg-pink-700 bg-opacity-10 cursor-not-allowed;
  }
  .text-link {
    @apply text-purple-500;
  }
  .navbar-icon {
    @apply shadow-lg flex items-center justify-center h-11 w-11 mb-2 mx-auto rounded-xl border border-menu;
  }
  .checkbox {
    @apply h-6 bg-zinc-700 appearance-none w-4 h-4 checked:bg-blue-300 checked:bg-[url('/checkbox.svg')] checked:hover:bg-blue-200 focus:outline-none border border-zinc-400 hover:border-zinc-300 checked:border-none rounded m-1;
  }
	.tooltip {
		@apply text-xs font-semibold whitespace-nowrap m-2 px-0.5 py-0.5 bg-[#6e7781] border border-solid border-4 border-transparent text-center rounded-sm
	}
	.tooltip-triangle {
		@apply content-none block w-0 h-0 absolute border-x-[18px] border-x-transparent border-b-[18px] border-b-[#6e7781] 
	}	
	.break-word{
		word-break: break-word;
	}
}

.size-9 * {
  border-radius: 50%;
  background-color: black;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.size-1 {
  position: relative;
  height: 50px;
  width: 50px;
  border: 1px solid white;
}

.size-2 {
  height: 65px;
  width: 65px;
  background-image: url('/diverse/light-stone.jpg');
  border: solid white;
}
.size-4 {
  height: 95px;
  width: 95px;
}
.size-5 {
  height: 110px;
  width: 110px;
}
.size-6 {
  height: 125px;
  width: 125px;
}
.size-7 {
  height: 140px;
  width: 140px;
}
.size-8 {
  height: 160px;
  width: 160px;
}
.orbit {
  animation: spin linear infinite 15s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #222;
}
.planet-8 {
  background-image: url('/diverse/stone.jpg');
  width: 6px;
  height: 6px;
  top: 117px;
  left: 8px;
  position: absolute;
  z-index: 1;
}
.planet-7 {
  background-image: url('/diverse/stone.jpg');
  width: 7px;
  height: 7px;
  top: 36px;
  left: 4px;
  position: absolute;
  z-index: 1;
}
.planet-6 {
  background-image: url('/diverse/stone.jpg');
  width: 10px;
  height: 10px;
  position: relative;
  top: 1px;
  left: 2px;
  z-index: 1;
}
.planet-wrapper {
  background-image: url('/diverse/light-stone.jpg');
  position: absolute;
  width: 42px;
  height: 14px;
  top: 106px;
  left: 60px;
  transform: rotate(-40deg);
  border: 1px solid white;
  display: flex;
  border-radius: 10px;
  z-index: 2;
}
.planet-5 {
  background-image: url('/diverse/stone.jpg');
  width: 8px;
  height: 8px;
  top: 70px;
  left: 101px;
  position: absolute;
  z-index: 1;
}
.planet-4 {
  background-image: url('/diverse/stone.jpg');
  width: 10px;
  height: 10px;
  top: 1px;
  left: 30px;
  position: absolute;
  z-index: 1;
}
.planet-3 {
  background-image: url('/diverse/stone.jpg');
  width: 12px;
  height: 12px;
  top: 8px;
  left: 86px;
  border: solid white 1px;
  position: absolute;
  z-index: 1;
}
.planet-2 {
  background-image: url('/diverse/stone.jpg');
  width: 8px;
  height: 8px;
  top: -2px;
  left: 82px;
  position: absolute;
  z-index: 1;
}

body::-webkit-scrollbar {
  width:12px;
  height: 12px;
}
::-webkit-scrollbar {
  background-color: #121212;
  padding: 2px;
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-thumb:active {
  background-color: #374151;
}
::-webkit-scrollbar-thumb {
  background-color: #343a42;
  border-radius: 2px;
}

.explore {
  @apply bg-dark-4 text-gray-100;
  background-image: url('/explore/header.png');
  background-position: right top;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: 'Inter', sans-serif;
}

.explore h1 {
  @apply font-bold;
}

.explore h2 {
  @apply text-[30px] font-bold text-xl lg:text-3xl;
}

.explore button {
  @apply flex justify-center items-center bg-dark-4 border border-dark-1 text-gray-400 rounded-sm px-4 py-2 whitespace-nowrap;
}

.explore .lead {
  @apply text-white text-opacity-60;
}

.explore .custom-scrollbar {
  scrollbar-color: rgb(52 52 52) rgb(22 27 34);
}

.explore .custom-scrollbar::-webkit-scrollbar {
  @apply w-[5px] h-[5px];
}

.explore .custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
  margin-block: 1.25rem;
  margin-inline: 1.25rem;
}

.explore .custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-dark-2 rounded-full border border-dark-1;
  border: 1px solid rgb(52 52 52);
}

.explore .custom-scrollbar-horizontal::-webkit-scrollbar-thumb {
  border-bottom: none;
}

.explore .custom-scrollbar-vertical::-webkit-scrollbar-thumb {
  border-right: none;
}