@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: #f3f3f3;
  }
}
.highlight{
  background-color:  rgba(88, 88, 88, 0.2);
  border-radius: 1rem;
  margin-top: 2.25rem;
  overflow-x:scroll;
  padding: 1rem;
}
/* @layer base {
    body{
        @apply font-mont text-3xl font-bold;
    }
    h1{
        @apply font-mont font-black text-4xl;
    }
    h2{
        @apply font-mont font-normal text-lg text-gray-700;
    }
}
@layer components {
    .btn {
        @apply font-mont rounded-md border-2 border-gray-300 py-2 px-3 text-base font-bold cursor-pointer;
    }
} */

@layer components {
  .layer-button {
    @apply font-mont rounded-lg border-2 border-gray-300 py-2 px-3 text-base font-bold cursor-pointer border-blue-400 text-gray-800 hover:bg-blue-400 hover:text-white;
  }
  .confirm-btn {
    @apply font-mont rounded-lg w-full py-3 font-bold cursor-pointer text-white border border-pink-300 bg-pink-700 bg-opacity-10 hover:bg-pink-700 hover:bg-opacity-30 hover:text-white;
  }
  .confirm-btn-disabled {
    @apply font-mont rounded-lg w-full py-3 font-bold text-white text-opacity-30 border border-pink-300 bg-pink-700 bg-opacity-10;
  }
	.text-link{
		@apply text-purple-500;
	}
	.navbar-icon {
		@apply shadow-lg flex items-center justify-center h-11 w-11 mb-2 mx-auto rounded-xl border border-menu
	}
}
